# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
virtualenv/
build/
dist/
*.egg-info/

# Streamlit
/.streamlit/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db